
@{
    ViewBag.Title = "Work";
}
<style>
    body {
        font-family: 'Comic Sans MS','Segoe UI', Tahoma, Geneva, Verdana;
        background-color: #2a2929;
        color: black;
    }
</style>
<div class="text-center" style="background-color:#c8c8c8; color:black;">
    <p style="font-size:20px;">
        Welcome <span style="color:#188e13; font-weight:bold;">
            @WebSecurity.CurrentUserName
        </span> To ProGamers Store

    </p>
</div>
<br />
<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                <h3>Pro Gamers</h3>
                <img src="~/Images/logo.png"  class="img-circle" height="80" width="80" alt="Avatar">
            </div>
            <div class="well">
                <p><a href="#">Features</a></p>
                <p>
                    <span class="label label-default">Store</span>
                    <span class="label label-primary">Teams & Gamers</span>
                    <span class="label label-success">Tournaments</span>
                    <span class="label label-info">Gaming</span>
                    <span class="label label-warning">Chat</span>
                    <span class="label label-danger">Friends</span>
                </p>
            </div>
          
        </div>
        <div class="col-sm-7">

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <p contenteditable="true">Share with your friends</p>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Like
                            </button> <button type="button" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span> share
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                  
                </div>
                <div class="col-sm-9">
                    <div class="well">
                         <video src="~/Images/ViewPage.mp4" controls width="450" height="250"></video>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <p>
                            Search Products
                            <br />
                            <br />

                            <span style="font-size:large; color:limegreen; font-weight:bold;">Searching..</span>
                        </p>

                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="well">

                        <video src="~/Images/Searching.mp4" controls width="250" height="150"></video>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <p> Product Details</p>
                        <span style="font-size:large; color:limegreen; font-weight:bold;">Details..</span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="well">
                        <video src="~/Images/Details.mp4" controls width="250" height="150"></video>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <p>Contact</p>
                        <span style="font-size:large; color:limegreen; font-weight:bold;">Contact us..</span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="well">
                        <video src="~/Images/Contact.mp4" controls width="250" height="150"></video>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 well">
            <div class="thumbnail">
                <p>Upcoming Events:</p>
                <i style="color:red; font-size:30px;" class="fas fa-chart-line"></i>
           <br />
          <a href="@Url.Action("Tournaments","Ecommerce")" class="btn btn-primary">Tournaments</a> 
           

            </div>
            <div class="well">
                <label class="label label-success fa fa-shopping-cart fa-2x ">
                    <a href="@Url.Action("checkout","Ecommerce")">
                        Cart
                    </a>
                
           </label>
                <video controls src="~/Images/checkout.mp4" width="120" height="100"></video>
            </div>
          
        </div>
    </div>
</div>
